#!/bin/sh -e

# source debconf library.
. /usr/share/debconf/confmodule || exit 0

db_version 2.0

# read conf file 
CONFFILE=/etc/kwdjbdns_update.cf
if [ -f "$CONFFILE" ] ; then
	egrep -v '^[[:space:]]*(#|$)' "$CONFFILE"  | \
	awk '{print $1,$3}' | \
	while read Var Value ; do
	   	case $Var in
			domain_name)
			   	DOMAINNAME=$Value ;;
		   	lease_file)
			   	DHCPDLEASEFILE=$Value ;;
		   	tinydnspath)
			   	TINYDNS_PATH=$Value ;;
		   	update_freq)
			   	FREQ=$Value ;;
		   	debug)
			   	DEBUG=$Value ;;
	   	esac
	done
fi

if [ -z "$DOMAINNAME" ] ; then
	DOMAINNAME="`hostname -d`"
fi
db_set kwdjbdns-update/domain "$DOMAINNAME" || true
db_input critical kwdjbdns-update/domain || true
db_go || true

if [ -z "$DHCPDLEASEFILE" ] ; then
	DHCPDLEASEFILE="/var/lib/dhcp3/dhcpd.leases"
fi
db_set kwdjbdns-update/leasefile "$DHCPDLEASEFILE" || true
db_input critical kwdjbdns-update/leasefile || true
db_go || true

if [ -z "$TINYDNS_PATH" ] ; then
	if [ -d /etc/sv/tinydns ] ; then
		TINYDNS_PATH="/etc/sv/tinydns"
	elif [ -d /etc/tinydns ] ; then
		TINYDNS_PATH="/etc/tinydns"
	fi
fi
db_set kwdjbdns-update/tinydns_path "$TINYDNS_PATH" || true
db_input critical kwdjbdns-update/tinydns_path || true
db_go || true

if [ -z "$FREQ" ] ; then
	FREQ="30"
fi
db_set kwdjbdns-update/frequenz "$FREQ" || true
db_input medium kwdjbdns-update/frequenz || true
db_go || true

if [ -z "$DEBUG" -o "$DEBUG" = 0 ] ; then
	DEBUG=false
elif [ "$DEBUG" -gt 0 ] ; then
	DEBUG=true
fi
db_set kwdjbdns-update/debug "$DEBUG" || true
db_input medium kwdjbdns-update/debug || true
db_go || true

db_set kwdjbdns-update/boot true || true
db_input medium kwdjbdns-update/boot || true
db_go || true

